@charset "utf-8";
/* CSS Document */
body {
	background-color:#59B;
}
#page_content {
	background-color:#FFF;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	margin:0px auto;
	overflow:auto;
	padding:40px 30px 30px 30px;
  position: relative;
	width:900px;
}
#page_content .left {
  float: left;
  width: 350px;
}
#page_content .right {
  float: left;
  width: 550px;
}
#welcome {
  margin: 0px auto;
  width: 532px;
}
#get-started {
  text-align: center;
}
#get-started h1 {
  font-size: 60px;
}
#follow-us {
  background: url(/img/twitter-followus.png);
  bottom: 10px;
  display: block;
  height: 109px;
  position: absolute;
  right: 10px;
  width: 120px;
}
#arrows {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	background-color:#EEEEEE;
	border:1px solid #EEEEEE;
	padding:1px;
	width:300px;
}
